In [9]:
#load modules
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np
import json 
import requests
from config import api_key

In [61]:
#BLS url
endpoint = 'https://api.bls.gov/publicAPI/v2/timeseries/data/'

#timeseries of monthly unemployment data to query
series = ['LNS14000000','LNS14000006','LNS14000009','LNS14032183','LNS14000003','LNS13025703'] 
startyear = '2018'
endyear = '2020'


#setup json request
headers = {'Content-type': 'application/json'}
data = json.dumps(
    {"seriesid": series,
     "registrationkey": api_key,
     "startyear":startyear, 
     "endyear":endyear})

stat = requests.post(endpoint, data=data, headers=headers)
stat_data = json.loads(stat.text)
#stat = requests.post(endpoint, data=data, headers=headers)


#setup lists to hold stats
seriesid = []
year= []
period = []
periodName = []
value = []

for series in stat_data['Results']['series']:
    seriesId = series['seriesID']
    for data in series['data']:
        year.append(data['year'])
        period.append(data['period'])
        periodName.append(data['periodName'])
        value.append(data['value'])
        seriesid.append(series['seriesID'])

In [62]:
#create dataframe
unemployment_df = pd.DataFrame({
    "Series":seriesid,
    "Year": year,
    "Month Code": period,
    "month": periodName,
    "Unemployment Rate": value
})

unemployment_df.head()

          Series  Year Month Code      month Unemployment Rate
0    LNS14000000  2020        M10    October               6.9
1    LNS14000000  2020        M09  September               7.9
2    LNS14000000  2020        M08     August               8.4
3    LNS14000000  2020        M07       July              10.2
4    LNS14000000  2020        M06       June              11.1
..           ...   ...        ...        ...               ...
199  LNS13025703  2018        M05        May              19.4
200  LNS13025703  2018        M04      April              20.4
201  LNS13025703  2018        M03      March              20.6
202  LNS13025703  2018        M02   February              21.2
203  LNS13025703  2018        M01    January              21.9

[204 rows x 5 columns]

In [76]:
#Add combined Mth and Year column
unemployment_df['Mth/Year'] = unemployment_df['month'] + ' ' + unemployment_df['Year']
unemployment_df = unemployment_df.set_index('Mth/Year',drop=True, inplace=False)
unemployment_df.head()

                     Series  Year Month Code      month Unemployment Rate
Mth/Year
October 2020    LNS14000000  2020        M10    October               6.9
September 2020  LNS14000000  2020        M09  September               7.9
August 2020     LNS14000000  2020        M08     August               8.4
July 2020       LNS14000000  2020        M07       July              10.2
June 2020       LNS14000000  2020        M06       June              11.1

In [71]:
#series description
#'LNS14000000' is 'Unemployment Rate'
#'LNS14000006' is 'Unemployment-AfricanAmerican'
#'LNS14000009' is 'Unemployment-Hispanic'
#'LNS14032183' is 'Unemployment-Asian'
#'LNS14000003' is 'Unemployment-White'
#'LNS13025703' is 'Long-Term Unemployment Rate'

In [77]:
#Isolating the stats
unerate = unemployment_df.loc[unemployment_df['Series'] == 'LNS14000000',:]
uneafam = unemployment_df.loc[unemployment_df['Series'] == 'LNS14000006',:]
unehisp = unemployment_df.loc[unemployment_df['Series'] == 'LNS14000009',:]
uneasian = unemployment_df.loc[unemployment_df['Series'] =='LNS14032183',:]
unewhite = unemployment_df.loc[unemployment_df['Series'] =='LNS14000003',:]
ltunemp = unemployment_df.loc[unemployment_df['Series'] == 'LNS13025703',:]
ltunemp.head()

                     Series  Year Month Code      month Unemployment Rate
Mth/Year
October 2020    LNS13025703  2020        M10    October              32.5
September 2020  LNS13025703  2020        M09  September              19.1
August 2020     LNS13025703  2020        M08     August              12.0
July 2020       LNS13025703  2020        M07       July               9.2
June 2020       LNS13025703  2020        M06       June               7.9

In [ ]:
#create the y and x axes
#years = unerate['Mth/Year']
unemprate = unerate['Unemployment Rate']
unempafam = uneafam['Unemployment Rate']
unemphisp = unehisp['Unemployment Rate']
unempasian = uneasian['Unemployment Rate']
unempwhite = unewhite['Unemployment Rate']
ltunempr = ltunemp['Unemployment Rate']


# Plot the unemployment values 
totunemp, = plt.plot(unemprate, unemployment.df
                        color="green",label=combined_unemployed_data.loc['USA',"Country Name"])

world_avg, = plt.plot(years, average_unemployment, color="blue", label="World Average" )

# Create a legend for our chart
plt.legend(handles=[world_avg, country_one], loc="best")

# Show the chart
plt.show()

In [46]:
danger_drop, = plt.plot(time, danger_drop_speeds, color="red", label="Danger Drop")
railgun, = plt.plot(time, railgun_speeds, color="blue", label="RailGun")

KeyError: "None of ['seriesid'] are in the columns"